Django==3.2.9
djangorestframework==3.12.4
django-filter==21.1
Markdown==3.3.4
#pydriosm==1.0.14
# Install debian libgeos-dev libgdal-dev proj>6.0.0
numpy==1.21.4
gdal==3.4.0
osmnx==1.1.1
docker==5.0.3
xmltodict==0.12.0
