Django==2.2.22
djangorestframework==3.11.0
django-filter==2.3.0
Markdown==3.2.2
#pydriosm==1.0.14
# Install debian libgeos-dev libgdal-dev proj>6.0.0
numpy==1.18.5
gdal==3.1.0
osmnx==0.14.1
docker==4.2.1
xmltodict==0.12.0
